<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp1G1Epea1QM78zGlbxHJ9POaGfBqyuZE</string>
	<key>GCM_SENDER_ID</key>
	<string>46175816875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoAudioChatFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-audio-chat-fd845</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-audio-chat-fd845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46175816875:ios:bdf658559c72a2dd453bee</string>
</dict>
</plist>